* {
  box-sizing: border-box;
}

body {
  background-color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  width: 40%;
  border: 2px solid #000;
  padding: 20px;
  height: 100vh auto;
  background: #000;
}

h2,h3,h4,label{
  color: #e57373;
  font-weight: 900;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.4em;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: green;
  font-size: 1.4em;
}

h2{
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 20px 0 5px;
}

h4 {
  margin: 0;
}

.painel{
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border: 1px solid #000;
}

.painel > div {
  flex: 1;
  text-align: center;
}

.painel > div:first-of-type {
  border-right: 3px solid #000;
}

.money {
  font-size: 1em;
  letter-spacing: 1px;
  margin: 2px 0;
}

.acumulado {
  color: #1565c0;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #000;
  font-weight: 900;
}

.restante {
  color: #c0392b;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #000;
  font-weight: 900;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  color: #000;
  font-weight: 900;
}

input:focus{
  outline: none;
  font-size: 1.2em;
}

select{
    width: 100%;
    outline: none;
    font-size: 1.2em;
    border: 1px solid #dedede;
    display: block;
    padding: 10px;
    color: #000;
    background-color: #fff;
    font-weight: 900;    
}

.btn {
  cursor: pointer;
  background-color: #e57373;
  box-shadow: var(--box-shadow);
  color: #000;
  border: 0;
  display: block;
  font-size: 1.3em;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: 900;
}


.btn:hover{
  background: #c0392b;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.registros {
  list-style-type: none;
  padding: 5px;
  margin-bottom: 40px;
}

.registros li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #000;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  padding-left: 50px;
}

.delete-btn {
  cursor: pointer;
  background-color: #e57373;
  border: 0;
  color: #000;
  font-size: 1.8em;
  font-weight: 900;
  line-height: 35px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;  
}

@media (max-width: 768px){

  .container{
    width: 100%;    
    position: absolute;
    top: 0;
  }


h3,h4,label{
    color: #e57373;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
    font-size: 1em;
  }
}
